{% extends 'layout.html' %}

{% block body %}
<h1>About This</h1>
<p>This is myflaskapp application.It contains lots of ideas about web developing,such as Linux environment,Flask framework,MySql database and so on.I can't say I learned them all well.Actually,I just learned the idea about web development.</p>
<P>I'm FengWeilei.I've just graudated from HPU.</p>
<p>I'm looking for  a Python job.Most jobs require flask exerpiences. So, I learned it myself for about half a year. </p>
<p>I wish I could find a job and support my family.Or,maybe I'll prepare for the national entrance examination for postgraduate again.</p>
<p>Good Luck!</p>
{% endblock %} 